@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-2 fw-bold">Welcome</h1>
    <p class="lead mt-3">
        The place where you can discover your favorite songs and share them with others.
    </p>
</div>
